html, body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #4F200D;
}
nav ul li a:hover {
  border-bottom: 2px solid #FF8400;
}

.banner {
  background: url(/assets/images/banner.jpeg) 27%;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #FF8400;
  opacity: 0.9;
  border-radius: 45px;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #4F200D;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #FFD93D;
}

#servicos {
  margin: 80px;
}
#servicos h3 {
  font-size: 1.2rem;
  color: #FF8400;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
#servicos h4 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
}
#servicos .cards .card {
  width: 360px;
  text-align: center;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #4F200D;
}
#servicos .cards .card p {
  font-size: 1rem;
  font-weight: 300;
  color: #FF8400;
  line-height: 1.25rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 6px solid #FF8400;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

#cupom {
  background-color: #4F200D;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #FF8400;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.7647058824rem;
}
#cupom .input {
  margin: 0 auto;
  width: 575px;
  border-radius: 20px;
  border: 4px solid white;
  background: white;
}
#cupom .input input {
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 540px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: 1px 1px 8px 1px #FF8400;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #FF8400;
  color: #4F200D;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: solid 2px #FFD93D;
  border-radius: 40px;
}
#cupom button:hover {
  background-color: #FF8400;
  color: #FFD93D;
  border-color: #FFD93D;
}

#presentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em;
}
#presentes .imagem {
  margin-right: 2em;
}
#presentes .imagem img {
  max-width: 60%;
}
#presentes .texto {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#presentes .texto h3 {
  font-size: 2rem;
}
#presentes .texto h4 {
  color: #4F200D;
  font-size: 1.5rem;
}
#presentes .texto p {
  font-size: 1rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #4F200D;
  margin-top: 1rem;
  padding: 1.2rem;
  background: linear-gradient(to left, #4F200D, #FF8400, #FFD93D, #4F200D);
}
footer i {
  color: red;
}/*# sourceMappingURL=style.css.map */